.header {
  background-color: grey;
  padding: 100px 0;
  font-size: 28px;
  color: #000;
}

.footer {
  background-color: skyblue;
  padding: 100px 0;
  font-size: 28px;
  color: #000;
}

p {
  color: red;
  font-size: 64px;
}

@media (max-width: 1200px) {
  .header {
    font-size: 26px;
  }

  .footer {
    font-size: 22px;
  }
}