@use "helpers" as *;

:root {
   --color-light: #ffffff;
   --color-dark: #141414;
   --color-grey: #98989a;
   --color-accent: #f02b3c;

   --font-family: "Inter", sans-serif;

   --container-width: #{rem(1600)};
   --container-padding-x: #{rem(15)};

   --transition-duration: 0.2s;

   @include laptop {
      --container-width: #{rem(1280)};
   }
}
